.moj-header {
  border-color: $govuk-brand-colour;
}

.govuk-template {
  background-color: govuk-colour("black");
}

.govuk-template__body {
  min-height: 100vh;
  background-color: $app-background-color;
}

.govuk-heading-l, .govuk-heading-m, .govuk-heading-s, .govuk-body {
  color: white;
}
